# Blockchain Configuration
NEXT_PUBLIC_RPC_URL=https://rpc-pepu-v2-mainnet-0.t.conduit.xyz
NEXT_PUBLIC_AUCTION_CONTRACT=0xYourAuctionContractAddress

# Bot Configuration
BOT_KEY=your_bot_private_key_here

# Token Configuration
NEXT_PUBLIC_SPRING_ADDRESS=0x82144C93bd531E46F31033FE22D1055Af17A514c
